@import '../../assets/scss/normalize.scss';
.footer_main {
  height: 560px;
  background-color: #00093c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}

h3 {
  color: #ffffff;
}
